/LEGACY/xmonad/xmonad-x86_64-linux
/LEGACY/xmonad/xmonad.errors
/LEGACY/xmonad/xmonad.hi
/LEGACY/xmonad/xmonad.o
/git/host-specific
/zsh/host-specific
/chromium
/autostart
/calibre
/google-googletalkplugin
/dconf
/gedit
/gtk-2.0
/jumanji
/epdfview
/transmission
/inkscape
/libreoffice
/gajim
/gocode
/sublime-text-2
/htop
/eog/accels
/exaile
/Trolltech.conf
